/* eb-garamond-regular - latin_latin-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/eb-garamond-v7-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('EB Garamond'), local('EBGaramond'),
       url('../fonts/eb-garamond-v7-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/eb-garamond-v7-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/eb-garamond-v7-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/eb-garamond-v7-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/eb-garamond-v7-latin_latin-ext-regular.svg#EBGaramond') format('svg'); /* Legacy iOS */
}

